.header {
  width: 100%;
}
.main-nav {
  width: 100%;
  padding: 75px;
  .nav-links {
    list-style-type: none;
    width: 60%;
    li {
      a {
        text-decoration: none;
        color: $blue;
        text-transform: uppercase;
        letter-spacing: 1px;
        &:hover,
        :visited,
        :active {
          text-decoration: none;
        }
      }
    }
  }
}
