.main-nav {
  max-width: 60%;
  list-style-type: none;
  padding: 75px;
  a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    letter-spacing: 1px;
    &:hover,
    :visited,
    :active {
      text-decoration: none;
    }
  }
}
