.login-page {
	height: calc(100vh - 114px);
	.left {
		background: $med-blue;
		.login-image-container {
			background-image: url("../../../resources/images/yoga.svg");
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			width: 100%;
			min-height: 1px;
			height: 100%;
		}
	}
	.right {
		.auth-form {
			width: 100%;
			.input-container {
				label,
				input {
					width: 50%;
				}
				label {
					letter-spacing: 0.3px;
				}
				input {
					border: none;
					border-radius: 5px;
					background: $med-grey;
					padding: 15px 8px;
				}
				input::placeholder {
					font-family: $urbanist;
					text-align: center;
				}
			}
		}
	}
}
