.navbar {
	&.blue-nav {
		background: $med-blue;
	}
	.btn {
		text-decoration: none;
	}
	.logo-container {
		text-decoration: none;
		background: $light-grey;
		.logo-name {
			color: $black;
			font-weight: $bold;
			font-size: 1.2rem;
			text-transform: uppercase;
			letter-spacing: 1px;
		}
		img {
			width: 50px;
			margin-right: 0.5rem;
		}
	}
}
