@import "./variables";
@import "./global";
@import "./mixins";
@import "./fonts";

.bmi-calculator-container {
  max-width: 40%;
  margin: 0 auto;
  border-radius: 5px;
  .input-type {
    width: 30%;
    .input-container {
      input {
        margin-right: 0.5rem;
      }
    }
  }
}
